<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
        <setting name="aggressiveLazyLoading" value="false"/>  
    </settings>
	
	<typeAliases>
		<!-- <typeAlias alias="ClobStringTypeHandler" type="org.apache.ibatis.type.ClobTypeHandler"/> -->
		<!-- <typeAlias alias="BlobStringTypeHandler" type="com.vnetoo.common.typeHandler.BlobStringTypeHandler"/> -->
		
		<typeAlias alias="ExperienceFund" type="com.yiqiandai.p2p.web.experience.model.ExperienceFund"/>
		<typeAlias alias="ExperienceBid" type="com.yiqiandai.p2p.web.experience.model.ExperienceBid"/>
		<typeAlias alias="ExperienceFundDealInfo" type="com.yiqiandai.p2p.web.experience.model.ExperienceFundDealInfo"/>
		<typeAlias alias="Activity" type="com.yiqiandai.p2p.web.activity.bo.Activity"/>
		<typeAlias alias="UserSession1030" type="com.yiqiandai.p2p.web.session.bo.UserSession1030"/>
	</typeAliases>
	<!-- 
	<typeHandlers>
		<typeHandler javaType="java.lang.String" jdbcType="BLOB" handler="BlobStringTypeHandler" />
		<typeHandler javaType="java.lang.String" jdbcType="CLOB" handler="ClobStringTypeHandler" />
	</typeHandlers>
	 
	<plugins>
		<plugin interceptor="com.vnetoo.common.dao.PageInterceptor">
			<property name="pageHandler" value="com.vnetoo.common.dao.OraclePageHandler"/>
		</plugin>
	</plugins>
	-->
	<mappers>
		<mapper resource="mapper/ExperienceFund.xml"/>
		<mapper resource="mapper/ExperienceBid.xml"/>
		<mapper resource="mapper/ExperienceFundDealInfo.xml"/>
		<mapper resource="mapper/Activity.xml"/>
		<mapper resource="mapper/UserSession1030.xml"/>
	</mappers>
</configuration>